services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    # env_file: ./frontend/.env
    ports:
      - "8082:80"
  db:
    image: postgres:16
    environment:
      # Environment variables from root .env file
      POSTGRES_DB: ${POSTGRES_DB}  
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}      
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
  django:
    build: ./backend
    container_name: aimantis-django
    command: >
      sh -c "service cron start &&
            python3 manage.py migrate &&
            watchfiles --filter python 'python3 manage.py runserver 0.0.0.0:8000'"
    volumes:
      - ./backend:/backend
      - /var/log/cron.log:/var/log/cron.log
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
    - .env
    depends_on:
      - db
    restart: unless-stopped
    privileged: true
    tty: true
  pgadmin:
    image: dpage/pgadmin4
    environment:
      # Environment variables from root .env file
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - db
volumes:
  postgres_data:
